# MongoDB Connection String
MONGO_URI=mongodb://localhost:27017

# Database Name
DB_NAME=beat_the_street

# JWT Secret Key
SECRET_KEY=your_custom_jwt_secret_key_here

# Server Host & Port
HOST=0.0.0.0
PORT=8000
